@import "./variables";

body {
	@include flex(center, space-between, column nowrap);
	background: rgb(30, 55, 85);
	background: radial-gradient(ellipse at top, #1f3756 0%, #141539 100%);
	font-family: "Barlow Semi Condensed", sans-serif;
}

.backdrop {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: all 300ms ease-in-out;
}

.header {
	@include flex(center, space-between, row wrap);
	padding: 1.5rem;
	margin: 2rem 0;
	border: 3px solid #5b6b84;
	border-radius: 15px;
	max-width: 50rem;
	width: 90%;
	pointer-events: none;

	img {
		width: 5rem;

		@include md {
			width: initial;
		}
	}

	&__score {
		color: $score-color;
		text-transform: uppercase;
		font-weight: bold;

		&--container {
			@include flex(center, space-between, column nowrap);
			height: 100%;
			padding: 1rem 0;
			min-width: 5rem;
			border-radius: 5px;
			background-color: #fafafa;
			font-size: 0.8rem;

			@include md {
				min-width: 9rem;
				font-size: 1.1rem;
				margin-left: 0;
			}

			&:first-child {
				margin-right: 1rem;
			}
		}
	}
}

.scores {
	@include flex(center, center, row wrap);

	@include md {
		justify-content: center;
	}
}

#score {
	&--player,
	&--house {
		font-weight: bold;
		font-size: 3.5em;
		color: #5b596e;
	}
}

.main {
	position: absolute;
	width: 22.5rem;
	min-height: 20rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
	margin-top: 3rem;

	@include md {
		max-width: 50rem;
		margin-top: 0;
		width: 100vw;
	}

	&__bg-image {
		display: block;
		margin: auto;
		width: 12rem;

		@include md {
			width: 20rem;
		}
	}

	&__entity {
		position: absolute;
		cursor: pointer;
		min-height: 7rem;
		min-width: 7rem;
		border-radius: 50%;
		background-color: #eee;
		transition: all 250ms ease-in-out;

		@include md {
			min-height: 11rem;
			min-width: 11rem;
		}

		&:hover,
		&:active {
			transform: scale(1.05);
		}

		&::before {
			content: "";
			position: absolute;
			min-height: 7rem;
			min-width: 7rem;
			border: 0.7rem solid #de2f50;
			box-shadow: 0px 0.4rem #9f1830, inset 0px 0.3rem #bcbed3;
			border-radius: 50%;
			background-color: transparent;

			@include md {
				box-shadow: 0px 0.6rem #9f1830, inset 0px 0.5rem #bcbed3;
				border: 1.25rem solid #de2f50;
				min-height: 11rem;
				min-width: 11rem;
			}
		}

		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				min-height: 7rem;
				min-width: 7rem;
				border: 0.7rem solid #4867f5;
				box-shadow: 0px 0.4rem #2844bf, inset 0px 0.3rem #bcbed3;
				border-radius: 50%;
				background-color: transparent;

				@include md {
					box-shadow: 0px 0.6rem #2844bf, inset 0px 0.5rem #bcbed3;
					border: 1.25rem solid #4867f5;
					min-height: 11rem;
					min-width: 11rem;
				}
			}
		}

		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				min-height: 7rem;
				min-width: 7rem;
				border: 0.7rem solid #ec9f18;
				box-shadow: 0px 0.4rem #c66d1a, inset 0px 0.3rem #bcbed3;
				border-radius: 50%;
				background-color: transparent;

				@include md {
					box-shadow: 0px 0.6rem #c66d1a, inset 0px 0.5rem #bcbed3;
					border: 1.25rem solid #ec9f18;
					min-height: 11rem;
					min-width: 11rem;
				}
			}
		}

		img {
			position: absolute;
			pointer-events: none;

			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 3rem;
		}
	}
}

.paper {
	top: -4rem;
	left: 2rem;
	@include md {
		top: -4rem;
		left: 11rem;
	}
}

.scissors {
	top: -4rem;
	right: 2rem;
	@include md {
		top: -4rem;
		right: 11rem;
	}
}

.rock {
	bottom: 7rem;
	left: 8rem;

	@include md {
		bottom: -2rem;
		left: 19rem;
	}
}

.rules {
	@include flex(center, center, row wrap);
	cursor: pointer;
	position: absolute;
	right: 50%;
	transform: translate(50%);
	bottom: 4rem;
	padding: 1rem;
	min-width: 8rem;
	color: white;
	border: 2px solid #5b6b84;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all 250ms ease-in-out;

	@include md {
		right: 2rem;
		bottom: 2rem;
		transform: none;
	}

	&:hover,
	&:active {
		@include md {
			transform: scale(1.05);
		}
	}
}

.modal {
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -100%);
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 200;
	max-width: 22rem;
	width: 90%;
	height: fit-content;
	background-color: #fff;
	padding: 2rem;
	border-radius: 10px;
	transition: all 300ms ease-in-out;

	img {
		max-width: 100%;
	}

	div {
		@include flex(center, space-between, row wrap);
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 2rem;
		text-transform: uppercase;

		span {
			pointer-events: none;
		}

		img {
			cursor: pointer;
		}
	}
}

.show {
	opacity: 1 !important;
	pointer-events: all !important;
}

.show--modal {
	@extend .show;
	transform: translate(-50%, -50%);
}

.result {
	@include flex(center, space-around, row wrap);
	position: relative;
	top: -5rem;

	@include md {
		position: static;
	}

	&--player {
		@include flex(center, flex-end, column-reverse nowrap);
		font-size: 1.1rem;
		min-height: 15rem;
		font-weight: 600;
		pointer-events: none;
		order: 1;

		@include md {
			justify-content: space-between;
			flex-flow: column nowrap;
			font-size: 1.5rem;
		}

		p {
			margin-top: 2rem;
			text-transform: uppercase;
			color: #fff;

			@include md {
				margin-top: 0;
				margin-bottom: 4rem;
			}
		}

		.main__entity {
			position: relative;
			top: initial;
			left: initial;
			right: initial;
			bottom: initial;
			min-width: 7rem;
			min-height: 7rem;

			@include md {
				min-width: 15rem;
				min-height: 15rem;
			}

			img {
				width: 3rem;

				@include md {
					width: 6rem;
				}
			}

			&::before {
				min-width: 7rem;
				min-height: 7rem;
				border: 10px solid #ec9f18;
				box-shadow: 0px 7px #c66d1a, inset 0px 6px #bcbed3;

				@include md {
					min-width: 15rem;
					min-height: 15rem;
					border: 25px solid #ec9f18;
					box-shadow: 0px 9px #c66d1a, inset 0px 8px #bcbed3;
				}
			}
		}
	}

	&--house {
		@include flex(center, flex-end, column-reverse nowrap);
		font-size: 1.1rem;
		min-height: 15rem;
		font-weight: 600;
		order: 2;

		@include md {
			order: 3;
			font-size: 1.5rem;
			justify-content: space-between;
			flex-flow: column nowrap;
		}

		p {
			margin-top: 2rem;
			text-transform: uppercase;
			color: #fff;

			@include md {
				margin-top: 0;
				margin-bottom: 4rem;
			}
		}

		.main__entity {
			opacity: 0;
			pointer-events: none !important;
			position: relative;
			top: initial;
			left: initial;
			right: initial;
			bottom: initial;
			min-width: 7rem;
			min-height: 7rem;

			@include md {
				min-width: 15rem;
				min-height: 15rem;
			}

			img {
				width: 3rem;

				@include md {
					width: 6rem;
				}
			}

			&::before {
				min-width: 7rem;
				min-height: 7rem;
				border: 10px solid #de2f50;
				box-shadow: 0px 7px #9f1830, inset 0px 6px #bcbed3;

				@include md {
					min-width: 15rem;
					min-height: 15rem;
					border: 25px solid #de2f50;
					box-shadow: 0px 9px #9f1830, inset 0px 8px #bcbed3;
				}
			}
		}
	}

	&--text {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2.5rem;
		margin: 1rem 0;
		color: #fff;

		&__container {
			@include flex(center, center, column nowrap);
			opacity: 0;
			pointer-events: none;
			order: 3;
			position: relative;
			top: -4rem;

			@include md {
				order: 2;
				position: static;
			}
		}
	}
}

.replay--btn {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	transition: all 200ms ease-in-out;

	&:hover,
	&:active {
		color: red;
		transform: scale(1.025);
	}
}

.waiting {
	position: absolute;
	top: 0.5rem;
	right: 3rem;
	min-width: 6rem;
	min-height: 6rem;
	background-color: #17223e;
	border-radius: 50%;
	order: 2;

	@include md {
		top: unset;
		bottom: 1rem;
		right: 3rem;
		min-width: 12rem;
		min-height: 12rem;
		order: 3;
	}
}

.attribution {
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 1rem;

	@include md {
		font-size: 1.1rem;
	}
}
.attribution a {
	color: hsl(228, 45%, 44%);
	transition: all 200ms ease-in-out;

	&:hover {
		color: lighten(hsl(228, 45%, 44%), 25);
	}
}
