body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #1e3755;
  background: radial-gradient(ellipse at top, #1f3756 0%, #141539 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1.5rem;
  margin: 2rem 0;
  border: 3px solid #5b6b84;
  border-radius: 15px;
  max-width: 50rem;
  width: 90%;
  pointer-events: none;
}

.header img {
  width: 5rem;
}

@media (min-width: 768px) {
  .header img {
    width: initial;
  }
}

.header__score {
  color: #2a46c0;
  text-transform: uppercase;
  font-weight: bold;
}

.header__score--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  padding: 1rem 0;
  min-width: 5rem;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .header__score--container {
    min-width: 9rem;
    font-size: 1.1rem;
    margin-left: 0;
  }
}

.header__score--container:first-child {
  margin-right: 1rem;
}

.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (min-width: 768px) {
  .scores {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#score--player, #score--house {
  font-weight: bold;
  font-size: 3.5em;
  color: #5b596e;
}

.main {
  position: absolute;
  width: 22.5rem;
  min-height: 20rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .main {
    max-width: 50rem;
    margin-top: 0;
    width: 100vw;
  }
}

.main__bg-image {
  display: block;
  margin: auto;
  width: 12rem;
}

@media (min-width: 768px) {
  .main__bg-image {
    width: 20rem;
  }
}

.main__entity {
  position: absolute;
  cursor: pointer;
  min-height: 7rem;
  min-width: 7rem;
  border-radius: 50%;
  background-color: #eee;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (min-width: 768px) {
  .main__entity {
    min-height: 11rem;
    min-width: 11rem;
  }
}

.main__entity:hover, .main__entity:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__entity::before {
  content: "";
  position: absolute;
  min-height: 7rem;
  min-width: 7rem;
  border: 0.7rem solid #de2f50;
  -webkit-box-shadow: 0px 0.4rem #9f1830, inset 0px 0.3rem #bcbed3;
          box-shadow: 0px 0.4rem #9f1830, inset 0px 0.3rem #bcbed3;
  border-radius: 50%;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main__entity::before {
    -webkit-box-shadow: 0px 0.6rem #9f1830, inset 0px 0.5rem #bcbed3;
            box-shadow: 0px 0.6rem #9f1830, inset 0px 0.5rem #bcbed3;
    border: 1.25rem solid #de2f50;
    min-height: 11rem;
    min-width: 11rem;
  }
}

.main__entity:nth-child(2)::before {
  content: "";
  position: absolute;
  min-height: 7rem;
  min-width: 7rem;
  border: 0.7rem solid #4867f5;
  -webkit-box-shadow: 0px 0.4rem #2844bf, inset 0px 0.3rem #bcbed3;
          box-shadow: 0px 0.4rem #2844bf, inset 0px 0.3rem #bcbed3;
  border-radius: 50%;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main__entity:nth-child(2)::before {
    -webkit-box-shadow: 0px 0.6rem #2844bf, inset 0px 0.5rem #bcbed3;
            box-shadow: 0px 0.6rem #2844bf, inset 0px 0.5rem #bcbed3;
    border: 1.25rem solid #4867f5;
    min-height: 11rem;
    min-width: 11rem;
  }
}

.main__entity:nth-child(3)::before {
  content: "";
  position: absolute;
  min-height: 7rem;
  min-width: 7rem;
  border: 0.7rem solid #ec9f18;
  -webkit-box-shadow: 0px 0.4rem #c66d1a, inset 0px 0.3rem #bcbed3;
          box-shadow: 0px 0.4rem #c66d1a, inset 0px 0.3rem #bcbed3;
  border-radius: 50%;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main__entity:nth-child(3)::before {
    -webkit-box-shadow: 0px 0.6rem #c66d1a, inset 0px 0.5rem #bcbed3;
            box-shadow: 0px 0.6rem #c66d1a, inset 0px 0.5rem #bcbed3;
    border: 1.25rem solid #ec9f18;
    min-height: 11rem;
    min-width: 11rem;
  }
}

.main__entity img {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3rem;
}

.paper {
  top: -4rem;
  left: 2rem;
}

@media (min-width: 768px) {
  .paper {
    top: -4rem;
    left: 11rem;
  }
}

.scissors {
  top: -4rem;
  right: 2rem;
}

@media (min-width: 768px) {
  .scissors {
    top: -4rem;
    right: 11rem;
  }
}

.rock {
  bottom: 7rem;
  left: 8rem;
}

@media (min-width: 768px) {
  .rock {
    bottom: -2rem;
    left: 19rem;
  }
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  cursor: pointer;
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  bottom: 2rem;
  padding: 0.5rem;
  min-width: 6rem;
  color: white;
  border: 2px solid #5b6b84;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (min-width: 768px) {
  .rules {
    min-width: 8rem;
    padding: 1rem;
    right: 2rem;
    bottom: 2rem;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 768px) {
  .rules:hover, .rules:active {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.modal {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  max-width: 22rem;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.modal img {
  max-width: 100%;
}

.modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.modal div span {
  pointer-events: none;
}

.modal div img {
  cursor: pointer;
}

.show, .show--modal {
  opacity: 1 !important;
  pointer-events: all !important;
}

.show--modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  top: -2rem;
}

@media (min-width: 768px) {
  .result {
    position: static;
  }
}

.result--player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  font-size: 1.1rem;
  min-height: 15rem;
  font-weight: 600;
  pointer-events: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .result--player {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    font-size: 1.5rem;
  }
}

.result--player p {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .result--player p {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

.result--player .main__entity {
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  min-width: 7rem;
  min-height: 7rem;
}

@media (min-width: 768px) {
  .result--player .main__entity {
    min-width: 15rem;
    min-height: 15rem;
  }
}

.result--player .main__entity img {
  width: 3rem;
}

@media (min-width: 768px) {
  .result--player .main__entity img {
    width: 6rem;
  }
}

.result--player .main__entity::before {
  min-width: 7rem;
  min-height: 7rem;
  border: 10px solid #ec9f18;
  -webkit-box-shadow: 0px 7px #c66d1a, inset 0px 6px #bcbed3;
          box-shadow: 0px 7px #c66d1a, inset 0px 6px #bcbed3;
}

@media (min-width: 768px) {
  .result--player .main__entity::before {
    min-width: 15rem;
    min-height: 15rem;
    border: 25px solid #ec9f18;
    -webkit-box-shadow: 0px 9px #c66d1a, inset 0px 8px #bcbed3;
            box-shadow: 0px 9px #c66d1a, inset 0px 8px #bcbed3;
  }
}

.result--house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  font-size: 1.1rem;
  min-height: 15rem;
  font-weight: 600;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 768px) {
  .result--house {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 1.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.result--house p {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .result--house p {
    resulom: 4rem;
  }
}

.result--house .main__entity {
  opacity: 0;
  pointer-events: none !important;
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  min-width: 7rem;
  min-height: 7rem;
}

@media (min-width: 768px) {
  .result--house .main__entity {
    min-width: 15rem;
    min-height: 15rem;
  }
}

.result--house .main__entity img {
  width: 3rem;
}

@media (min-width: 768px) {
  .result--house .main__entity img {
    width: 6rem;
  }
}

.result--house .main__entity::before {
  min-width: 7rem;
  min-height: 7rem;
  border: 10px solid #de2f50;
  -webkit-box-shadow: 0px 7px #9f1830, inset 0px 6px #bcbed3;
          box-shadow: 0px 7px #9f1830, inset 0px 6px #bcbed3;
}

@media (min-width: 768px) {
  .result--house .main__entity::before {
    min-width: 15rem;
    min-height: 15rem;
    border: 25px solid #de2f50;
    -webkit-box-shadow: 0px 9px #9f1830, inset 0px 8px #bcbed3;
            box-shadow: 0px 9px #9f1830, inset 0px 8px #bcbed3;
  }
}

.result--text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 1rem 0;
  color: #fff;
}

.result--text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
  top: -5rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .result--text__container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    font-size: 1rem;
  }
}

.replay--btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.replay--btn:hover, .replay--btn:active {
  color: red;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.waiting {
  position: absolute;
  top: 0.5rem;
  right: 3rem;
  min-width: 6rem;
  min-height: 6rem;
  background-color: #17223e;
  border-radius: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 768px) {
  .waiting {
    top: unset;
    bottom: 1rem;
    right: 3rem;
    min-width: 12rem;
    min-height: 12rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .attribution {
    font-size: 1.1rem;
  }
}

.attribution a {
  color: #3e52a3;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.attribution a:hover {
  color: #8c9bd4;
}
/*# sourceMappingURL=main.css.map */